article {
    font-size: 12pt;
    margin-top: 100px;
    padding: 5px 15px;
}

article li {
    margin-bottom: 20px;
}

button.navbar-toggler {
    cursor: pointer;
    outline: 0;
}

.navbar {
    font-size: 12pt;
}

.navbar .navbar-toggler {
    font-size: 12pt;
    padding: 10px;
}