body {
    font-family: sans-serif;
}

article {
    font-size: 12pt;
    margin-top: 100px;
    padding: 5px 15px;
}

article li {
    margin-bottom: 20px;
}

button.navbar-toggler {
    cursor: pointer;
    outline: 0;
}

.navbar {
    font-size: 12pt;
}

.navbar .navbar-toggler {
    font-size: 12pt;
    padding: 10px;
}

a.image-preview, a.image-preview:hover {
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    text-decoration: none;
}
